@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header header" "article article article article" "image image image image" "footer footer footer footer";
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin: 0;
}

#pageHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

#mainArticle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: article;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #030426;
  /* background-image: url(https://raw.githubusercontent.com/Tony-smile/images-icons/master/images/bgimg1.jpg);
    background-size: cover;
    background-attachment: fixed;*/
  color: white;
  padding-bottom: 3em;
}

#mainArticle .main_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: roboto;
  margin: 50px 0px;
  padding-top: 2em;
}

#mainArticle .main_text-1 {
  font-size: 5rem;
}

#mainArticle .main_ext-2 {
  font-size: 3rem;
}

#mainArticle .main_text-3,
#mainArticle .maintext-4 {
  text-align: center;
  font-size: 2rem;
}

#mainArticle .main_text-2 span {
  font-weight: bolder;
  color: #ffa600;
}

#mainArticle .wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
  background-color: #063f7c;
  padding: 5em 0em;
  border-radius: 20px;
}

#about h1 {
  margin-top: -1em;
  background-color: #e4a103;
  padding: .6em 3em;
  color: #063f7c;
  border-radius: 15px;
  font-size: 1.5em;
}

#about p {
  text-align: center;
  margin: 0em 5em;
  margin-top: 2em;
  color: #f8f9f6;
  font-family: open sans;
  font-weight: 400;
  font-size: 1.5em;
}

#Img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #104c704b;
  font-size: 2rem;
}

#Img .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  width: 65%;
  margin-left: 40px;
}

#Img h2 {
  color: #d09604;
  background-color: #000124;
  text-align: center;
  border-radius: 20px;
  width: 6em;
  font-family: roboto;
  font-weight: 500;
  margin-top: -20%;
}

#Img ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-shadow: 0 1px 0 rgba(141, 156, 222, 0.5);
  font-weight: 500;
  border-radius: 20px;
}

#Img ol .a {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #063f7c;
  border: 2px solid #ffa600;
  border-radius: 15px;
  color: #000124;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#Img ol .a:hover {
  background: #1456ff86;
  border: 3px;
  color: #f8f9f6;
}

#Img ol .a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #000124;
  border-radius: 50%;
  color: #DCDDE1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

#Img ol .a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#Img ol .a:hover:after {
  left: -.5em;
  border-left-color: #d09604;
}

#Img #pageImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #063f7c;
  margin: 20px;
  height: 70%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 5%;
  background-image: url(https://raw.githubusercontent.com/Tony-smile/images-icons/master/images/Tony.png);
  background-repeat: no-repeat;
  background-position: 40% 80%;
  border: 2px solid orange;
}

#Img #pageImage p span {
  color: #000124;
  font-size: 1.2rem;
}

#Img #pageImage form .button {
  height: 45px;
}

#Img #pageImage form .button input {
  margin-top: 10%;
  height: 150%;
  width: 110%;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000124;
  border: 2px solid orange;
}

#Img #pageImage form .button input:hover {
  /* transform: scale(0.99); */
  background-color: #e0ac1c;
  color: #000124;
  font-weight: bolder;
  border: 2px solid #000124;
}

@media (min-width: 960px) and (max-width: 1350px) {
  #Img {
    font-size: 1.3em;
  }
}

@media (min-width: 320px) and (max-width: 959px) {
  .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header header" "article article article article" "image image image image" "footer footer footer footer";
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: 100vh;
    margin: 0;
    font-size: 2em;
  }
  #pageHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #mainArticle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: article;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
  }
  #about {
    width: 90%;
    padding: 3em 0em;
  }
  #about h1 {
    padding: .3em 2em;
    font-size: .8em;
    margin-top: -2em;
  }
  #about p {
    padding: 0;
    margin: 0 1em;
    font-size: 16px;
    margin-top: 4em;
  }
  #Img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: image;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3em;
  }
  #Img .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    margin-left: 0px;
    font-size: 1.5rem;
  }
  #Img [class^="lists"] {
    -ms-grid-row: 30;
    grid-area: 30%;
  }
  #Img h2 {
    margin-top: 0px;
  }
  #Img #pageImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    width: 85%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
    height: 37%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 120%;
    border-bottom-left-radius: 120%;
    background-position: 50% 100%;
  }
  #Img #pageImage form {
    margin-top: 5em;
  }
}
/*# sourceMappingURL=indexstyle.css.map */