* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-image: url(https://raw.githubusercontent.com/Tony-smile/images-icons/master/images/bgimg1.jpg) ;
    background-size: cover;
    background-attachment: fixed;  */

}

// variables
$blue : #007ffa;
$white: #f8f9f6;
$navy: #063f7c;


.nav-header {
    display: flex;
    justify-content: space-between;
    font-style: oblique;
    align-items: center;
    font-size: 2.5rem;
    margin: 1.5rem;
    margin-left: 20%;
}

.nav-logo-name {
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $navy;
    color: $white;
    align-items: center;
    width: 100%;
}

.nav-links {
    margin-right: 30%;
}

.nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;


}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: $white;
    display: block;
    padding: 2.5rem;
    font-size: 1.5rem;
}

.nav-links li:hover {
    background-color: rgba(23, 23, 73, 0.468);
}

.toggleBtb {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 45px;
    height: 40px;
    overflow: visible;
}

.toggleBtb .bar {
    height: 3px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;

}


@media (max-width:768px) {
    .toggleBtb {

        display: flex;

    }

    .nav-links {
        display: none;
        width: 100%;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        font-size: 1.5rem;
        margin-top: .5rem;
    }

    .nav-links li a {
        padding: 1.5rem 1rem;

    }

    .nav-links.active {
        display: flex;
    }
}